#### Análise exploratória dos dados

1. Bibliotecas utilizadas

In [1]:
import pandas as pd

2. Leitura do dataset utilizado

In [7]:
df_sentimentos = pd.read_csv("./data/data.csv",sep=",",encoding="utf-8")
display(df_sentimentos)

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5837  RISING costs have forced packaging producer Hu...  negative
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5840  In the building and home improvement trade , s...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[5842 rows x 2 columns]

3. extraindo algumas infos

In [26]:
# Visualizando os dados de forma aleatória
display(df_sentimentos.sample(10))

                                               Sentence Sentiment
4697  Operating profit rose to EUR 5mn from EUR 2.8 ...  positive
2360         The contract is worth some EUR 1 million .   neutral
4268  No more waste-burning facilities should be bui...   neutral
1218  You will hear the latest insights and updates ...   neutral
125   The operating margin of Aker Yards Cruise & Fe...  negative
4590  In Finland 's Hobby Hall 's sales decreased by...   neutral
2195  Construction volumes meanwhile grow at a rate ...  positive
847   The energy sector accounted for approximately ...   neutral
4994                Results are expected late in 2006 .   neutral
5518  Incap Furniture is presently negotiating staff...  negative

In [16]:
# Visualizando informações gerais sobre o dataset
df_sentimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentence   5842 non-null   object
 1   Sentiment  5842 non-null   object
dtypes: object(2)
memory usage: 91.4+ KB

In [25]:
# Visualizando a distribuição dos dados
colunas = list(df_sentimentos.columns)
for coluna in colunas:
	print(f"Distribuição da coluna {coluna}")
	print(df_sentimentos[coluna].value_counts())
	print("\n")

Distribuição da coluna Sentence
Sentence
Managing Director 's comments : `` Net sales for the first quarter were notably lower than a year before , especially in Finland , Russia and the Baltic countries .                                                          2
Scanfil , a systems supplier and contract manufacturer to the communications sector , will give notice to 20 productional employees , and temporarily lay off 15 employees at the company 's plant in Sievi , in Finland .    2
Profit before taxes decreased to EUR 31.6 mn from EUR 50.0 mn the year before .                                                                                                                                               2
Pretax loss totalled EUR 49.9 mn , compared to a loss of EUR 15.4 mn in the corresponding period in 2008 .                                                                                                                    2
Operating loss of the Pulp & Paper Machinery unit was over EUR 3mn in September 2007 - August 2008 , compared to a profit of EUR 3.7 mn a year earlier .                                                                      2
                                                                                                                                                                                                                             ..
ESPN Files Lawsuit Against Verizon - http://stks.co/i2Cj1 $VZ                                                                                                                                                                 1
Le Lay succeeds Walter G++nter and will be based in Finland .                                                                                                                                                                 1
It is necessary to strengthen the company 's operations , however .                                                                                                                                                           1
NYSE owner ICE considers offer for LSE                                                                                                                                                                                        1
HELSINKI AFX - KCI Konecranes said it has won an order for four hot metal ladle cranes from Indian steel producer Bhushan Steel and Strips Ltd. .                                                                             1
Name: count, Length: 5322, dtype: int64


Distribuição da coluna Sentiment
Sentiment
neutral     3130
positive    1852
negative     860
Name: count, dtype: int64

In [27]:
# Tamanho do dataset
print("Quantidade de linhas: ", df_sentimentos.shape[0])
print("Quantidade de colunas: ", df_sentimentos.shape[1])

Quantidade de linhas:  5842
Quantidade de colunas:  2

In [28]:
# Visualizando a quantidade de dados faltantes
print("Dados faltantes: ")
print(df_sentimentos.isnull().sum())

Dados faltantes:
Sentence     0
Sentiment    0
dtype: int64

In [29]:
# Ver estatísticas descritivas do datasetp
print(df_sentimentos.describe())

                                                 Sentence Sentiment
count                                                5842      5842
unique                                               5322         3
top     Managing Director 's comments : `` Net sales f...   neutral
freq                                                    2      3130

In [30]:
# Dropando valores duplicados
df_sentimentos_clean = df_sentimentos.drop_duplicates()
df_sentimentos_clean

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5837  RISING costs have forced packaging producer Hu...  negative
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5840  In the building and home improvement trade , s...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[5836 rows x 2 columns]

In [39]:
# pegando os dados duplicados e vendo que algumas sentencas estão com sentimentos diferentes
df_sentimentos_duplicados = df_sentimentos_clean[df_sentimentos_clean.duplicated(subset=['Sentence'], keep=False)]
df_sentimentos_duplicados_ordenados = df_sentimentos_duplicados.sort_values(by='Sentence')
display(df_sentimentos_duplicados_ordenados)
print("Quantidade de sentimentos: ", df_sentimentos_duplicados_ordenados['Sentiment'].value_counts())

                                               Sentence Sentiment
3685  ( ADP News ) - Feb 11 , 2009 - Finnish wood pr...  negative
4578  ( ADP News ) - Feb 11 , 2009 - Finnish wood pr...   neutral
1488  ( ADP News ) - Feb 12 , 2009 - Finnish constru...  negative
3765  ( ADP News ) - Feb 12 , 2009 - Finnish constru...   neutral
1051  ( ADP News ) - Feb 4 , 2009 - Finnish broadban...  negative
...                                                 ...       ...
5612  down to EUR5 .9 m H1 '09 3 August 2009 - Finni...   neutral
904   in Finland Finnish pharmaceutical company Orio...   neutral
3368  in Finland Finnish pharmaceutical company Orio...  negative
3075  stores 16 March 2010 - Finnish stationery and ...  negative
4663  stores 16 March 2010 - Finnish stationery and ...   neutral

[1028 rows x 2 columns]

Quantidade de sentimentos:  Sentiment
negative    514
neutral     514
Name: count, dtype: int64

In [41]:
#deixando somente os dados unicos
df_sentimentos_unicos = df_sentimentos_clean.drop_duplicates(subset=['Sentence'], keep=False)
df_sentimentos_unicos

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5835  HSBC Says Unit to Book $585 Million Charge on ...  negative
5836  Daily Mail parent company in talks with potent...  positive
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[4808 rows x 2 columns]